nav {
  height: fit-content;
  background-color: #00a4e4;
  width: 100vw;
}

footer {
  margin-top: 4rem;
  background-color: #fafafa;
}

.tui-container {
  background-color: var(--tui-base-01);
  padding: 2rem;
  height: 100%;
}

.div_logo {
  display: flex;
  align-items: center;
}

label.logo {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
