@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

* {
  font-family: 'Sarabun', sans-serif !important;
}

body {
  background-color: #e5e7ea;
}

school-evaluation-form-root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav {
  grid-row-start: 1;
  grid-row-end: 2;
}

tui-root {
  grid-row-start: 2;
  grid-row-end: 3;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

.tui-required {
  color: red;
}

tui-svg.icon-l {
  width: 3rem;
  height: 3rem;

  font-size: 1.5rem;
}

tui-svg.icon-xl {
  width: 4rem;
  height: 4rem;

  font-size: 2rem;
}

.align-center,
th {
  text-align: center !important;
}

.align-end {
  text-align: end !important;
}

.align-start {
  text-align: start !important;
}

tui-wrapper[data-appearance='success'] {
  background: #28a745;

  &[data-state='hovered'] {
    background: #218838;
  }

  &[data-state='pressed'] {
    background: #1e7e34;
  }
}

tui-wrapper[data-appearance='warning'] {
  background: #ffc107;

  &[data-state='hovered'] {
    background: #e0a800;
  }

  &[data-state='pressed'] {
    background: #d39e00;
  }
}

tui-wrapper[data-appearance='danger'] {
  background: #dc3545;

  &[data-state='hovered'] {
    background: #c82333;
  }

  &[data-state='pressed'] {
    background: #bd2130;
  }
}

tui-wrapper[data-appearance='success'],
tui-wrapper[data-appearance='warning'],
tui-wrapper[data-appearance='danger'] {
  color: #fff;
  &[data-state='disabled'] {
    opacity: 0.65;
  }
}

.tui-group__auto-width-item {
  min-width: 10rem !important;
}

.font-nomal {
  font-weight: normal;
}

tui-radio-labeled,
.self-center {
  align-self: center;
}

tui-island {
  &:not(&_hoverable):before {
    box-sizing: border-box;
    border: 5px solid var(--tui-secondary) !important;
    border-radius: inherit;
    pointer-events: none;
  }
}

table {
  width: 100%;
}

div > .icon-xl {
  tui-svg {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
  }

  nav,
  footer,
  header,
  .tui-wrapper {
    display: none;
  }

  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
}

:root .score-chart {
  --tui-chart-0: var(--tui-success-fill);
  --tui-chart-1: var(--tui-base-04);
}
