* {
  background-color: #fff;
}

.main-div {
  margin: auto;
  padding: 10px;
}

table,
th,
td {
  border-style: solid;
  border-width: 0.1px;
}

textarea {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  position: relative;
  background: #fff;
  border: 3px solid black;
  outline: 2px solid black;
  outline-offset: 1px;
  margin: 3px;
}

h2::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 3px solid #000;
  z-index: -1;
}

hr {
  position: relative;
  background: #fff;
  border: 3px solid #000;
  margin: 3px;
}

hr::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 1px solid #000;
  z-index: -1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body {
  width: 55%;
}
