@media print {
  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .new-page {
    margin-top: 1.25cm !important;
    page-break-before: always !important;
  }

  .remove-from-print {
    display: none !important;
  }

  .remove-from-page {
    display: block !important;
  }
}

.remove-from-page {
  display: none;
}

h3,
h4,
p,
ol,
li,
span {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 32px;
}

h4 {
  font-size: 16px;
}

.inline {
  width: fit-content;
  display: contents;
}

.main-div {
  margin: auto;
}

.header-td {
  text-align: center;
  vertical-align: top;
}

.end-tr {
  padding-top: 0;
  padding-bottom: 0;

  td {
    padding-top: 0;
    padding-bottom: 0;
  }

  td:first-child {
    text-align: end;
  }

  &-sum {
    background-color: #f7caac;
  }

  background-color: #d9e2f3;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

input[type='checkbox'] {
  accent-color: black;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  padding: 5px;
}

textarea {
  width: 100%;
}

.align-center {
  text-align: center;
}

.header {
  font-size: 16px;
  font-weight: bold;

  margin-top: 10px;
  margin-bottom: 10px;

  &-border {
    border: 3px solid black;
    outline: 2px solid black;
    outline-offset: 1px;
  }

  &-absolute {
    position: absolute;
  }

  &-absolute-paragraph {
    position: absolute;
    max-width: 595px;
  }
}

.py {
  padding: 10px 0;
}

.m {
  margin: 3px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

h2::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 3px solid #000;
  z-index: -1;
}

hr {
  position: relative !important;
  background: #fff;
  border: 3px solid #000;
  margin: 3px;
}

hr::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 1px solid #000;
  z-index: -1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.text-indent {
  text-indent: 40px;
}

.li-text-indent {
  text-indent: 60px;
}

body {
  width: 55%;
}

ol {
  counter-reset: item;
  padding: 0;
}
li {
  display: block;
}
li:before {
  content: counters(item, '.') '. ';
  counter-increment: item;
}

.d-inline > * {
  display: inline;
}

.underline {
  text-decoration: underline;
}
